<!-- <div class="black_bg small_padding pix_builder_bg" id="section_normal_4_1">
        <div class="container-fluid">
            <div class="sixteen columns text-center">
                <h2 class="white bold-weight">Want to Build Awesome Products Together?</h2>
                <div class="mt-30">
                    <a href="#section_footer_3_dark" class="btn link-contact-us pi"><strong>CONTACT US</strong></a>
                </div>
            </div>
        </div>
</div> -->
    
    <div class="black_bg padding_top_60 pix_builder_bg" id="section_normal_4_1">
        <div class="container-fluid">
            <div class="sixteen columns">
                <div class="text-center title white bold-weight normal_title">Rapidly and reliably build great software products to amaze your customers.</div>
                <div class="separator" ></div>
                <div class="container padding_bottom_30">
                    <p class="big_text light_gray editContent text-center mb-20">
                        Eterant’s mature Agile development capabilities help you create innovative, engaging products, while simultaneously ensuring rapid time to market.
                    </p>
                </div>
                <div class="container">
                    <div class="twelve columns">
                        <div class="industrial_icons owl-carousel clients">
                            <img alt="" src="/images/main/apple.svg" />
                            <img style="padding-right: 1rem;" alt="" src="/images/main/node.svg" />
                            <img alt="" src="/images/main/java.svg" />
                            <img alt="" src="/images/main/unknown.svg" />
                            <img alt="" src="/images/main/sketch.svg" />
                            <img alt="" src="/images/main/android.svg" />
                            <img alt="" src="/images/main/aws.svg" />
                            <img alt="" src="/images/main/windows.svg" />
                        </div>
                    </div>
                </div>
                <div class="margin-left-20p mt-30 mb-50m">
                    <div class="contact-us-wrapper">
                        <a class="btn link-contact-us pi" href="#section_normal_4_2">SEE SERVICES</a>
                        <!-- <img alt="" src="/images/main/rateimg.png"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pix_builder_bg clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300" id="section_features_2_dark">  
        <div class="pix_builder_bg">
            <div class="center_text provide-title">
                <img alt="" src="/images/main/review5.png" />
                <div class="title_56 bold_text editContent dark_gray">
                    What we provide
                </div>
                <div class="separator"></div>
            </div>
            <div class="container">
                <div class="twelve columns">
                    <div class="home-service-wrapper" style="overflow: hidden;">
                        <div class="home-service-list-wrap">
                            <div class="home-service-list">
                                <div class="single-service-wrap">
                                    <div class="service-single very-light-pink sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/CustomSoftwareDevelopment.svg"
                                                title="Custom Software Development Services"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/custom-software-development">Custom Software Development Services</a></h4>
                                            <p>Solve your unique business challenges by <strong>building custom applications.</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single off-white sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/ApplicationDevelopmentServices.svg"
                                                title="Application Development Services"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/application-development">Application Development Services</a></h4>
                                            <p>Improve your <strong>time to market</strong> and quality with our app development services.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single pale sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/SoftwareTesting.svg" title="Software Testing Services"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/software-testing">Software Testing <br>Services</a></h4>
                                            <p>Confidently deliver software faster with our <strong>robust QA processes.</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single sky-blue sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/snatural-language-processing.svg"
                                                title="Hire Dedicated Developers"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/artificial-intelligence-services">AI/ML Development <br> Services </a></h4>
                                            <p> Use machine learning to build intelligent <strong>AI-driven apps</strong> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single pale-grey sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/Enterprisemobile.svg" title="Mobile application"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/mobile-apps">Mobile Application<br>Development</a></h4>
                                            <p><strong>B2B and B2C</strong> mobile apps for organizations ready to adopt a mobile-first world.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single ice sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/Dedicatedsoftware.svg" title="Dedicated software development">
                                        </div>
                                        <div class="service-content-blk">
                                            <h4><a href="/dedicated-development-team">Dedicated Software Development Team</a></h4>
                                            <p>Expand your <strong>development capacity</strong> without any operational overhead.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single very-light-pink-two sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/APIintegrationServices.svg" title="API integration Services">
                                        </div>
                                        <div class="service-content-blk">
                                            <h4><a href="/api-integration-development">API Integration &amp; Development Services</a></h4>
                                            <p><strong>Cut down development time</strong> and costs by Integrating APIs and Systems.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single ice-blue sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/web-app-development.svg" title="Web App Development"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/web-apps-development">Web Application Development Services</a></h4>
                                            <p>Build <strong>enterprise-grade web apps</strong> that power mission-critical workflows.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single pale-lavender sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/ProductDevelopmentServices.svg"
                                                title="Product development services"></div>
                                        <div class="service-content-blk">
                                            <h4><a href="/software-product-development">Software Product Development Services</a></h4>
                                            <p>Shape and <strong>validate your vision</strong> by working with our product experts.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-service-wrap">
                                    <div class="service-single very-light-pink-three sc-18exhag-0 hhEtMd">
                                        <div class="service-img-blk"><img src="/images/HireDedicatedDeveloper.svg" title="Hire Dedicated Developers">
                                        </div>
                                        <div class="service-content-blk">
                                            <h4><a href="/hire-dedicated-developers">Hire Dedicated <br>Developers</a></h4>
                                            <p><strong>Top programmers</strong> on your time and terms with guaranteed results.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="black_bg pix_builder_bg experience-section">
            <div class="container">
                <div class="experience-items">
                    <div class="experience-item">
                        <i class="fas fa-history big_text"></i>
                        <strong class="normal_title">10+</strong>
                        <div>Years of Experiences</div>
                    </div>
                    <div class="experience-item">
                        <i class="fas fa-layer-group big_text"></i>
                        <strong class="normal_title">150+</strong>
                        <div>Systems Developed</div>
                    </div>
                    <div class="experience-item">
                        <i class="fas fa-user-tie big_text"></i>
                        <strong class="normal_title">500+</strong>
                        <div>Loyal Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="big_padding black_bg pix_builder_bg service_moving_bg  clearfix" id="service_parallax">

    </div>
    
    <div class="big_padding black_bg pix_builder_bg object-non-visible" id="section_normal_4_2" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
        <div class="clearfix">
            <div class="container">
                <div class="title_56 text-center title white bold-weight">Custom Software Development Services</div>
                <div class="separator"></div>
                <p class="text-center white">We serve business and tech leaders building software.</p>
                <div class="row grid-space-20">
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button" data-target="#python" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <a class="icon-container python-bg circle">
                                    <i class="fab fa-python"></i>
                                </a>
                            </div>
                            <div id="python" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>Python/Flask/Django</h2>
                                <p>Web-application framework designed for moving smoothly from an initial idea to working solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#react" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container react-bg circle">
                                    <i class="fab fa-react"></i>
                                </div>
                            </div>
                            <div id="react" class="panel-collapse collapse  mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>React.js</h2>
                                <p>Web-application framework designed for moving smoothly from an initial idea to working solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#angular" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container angular-bg circle">
                                    <i class="fab fa-angular"></i>
                                </div>
                            </div>
                            <div id="angular" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>AngularJS</h2>
                                <p>Structural framework for dynamic web apps, Single Page Applications (SPAs).</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#design" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container sketch-bg circle">
                                    <i class="fab fa-sketch"></i>
                                </div>
                            </div>
                            <div id="design" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>UX/UI Design</h2>
                                <p>Design effective products with elegant interfaces and delightful user experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row grid-space-20">
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#reactNative" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container react-bg circle">
                                    <i class="fab fa-react"></i>
                                </div>
                            </div>
                            <div id="reactNative" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>React Native</h2>
                                <p>Build native mobile apps for iOS and Android using React. Reuse code for your web and mobile apps.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#node" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container default-bg circle">
                                    <i class="fab fa-node"></i>
                                </div>
                            </div>
                            <div id="node" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>Node.js</h2>
                                <p>Build performant web applications based on Javascript – one language for full-stack development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button"  data-target="#vue" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container vue-bg circle">
                                    <i class="fab fa-vuejs"></i>
                                </div>
                            </div>
                            <div id="vue" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>Vue.js</h2>
                                <p>Open-source JavaScript framework for building user interfaces and single-page applications.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <br class="hidden-xs">
                        <div class="service-item" role="button" data-target="#cloud" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="box-style-3">
                                <div class="icon-container cloud-bg circle">
                                    <i class="fas fa-cloud"></i>
                                </div>
                            </div>
                            <div id="cloud" class="panel-collapse collapse mt-10" role="tabpanel" aria-labelledby="headingOne">
                                <h2>DevOps & Cloud</h2>
                                <p>Robust Infrastructure as Code solutions for automated provisioning and scaling.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="big_padding black_bg pix_builder_bg testimonial_moving_bg clearfix" ></div>

    <div class="big_padding padding_bottom_0 pix_builder_bg   clearfix object-non-visible" id="section_title_2_dark" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
        <div class="container ">       
                <div class="">
                    <div class="center_text">
                        <div class="title_56 margin_bottom_10 light_blue">
                            <span class="pi pixicon-quote"></span>
                        </div>
                        <h2 class="title_56 dark_gray editContent"><strong>Testimonials</strong></h2>
                        <div class="separator"></div>
                        <p class="normal_text light_gray editContent">Trusted by over 30,000 of the world’s leading companies.</p>
                    </div>
                </div>
        </div>
    </div>

    <div class="big_padding pix_builder_bg clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200" id="section_testimonials_dark">
        <div class="container ">
            <div class="one-third column">
                <div class="content_div card">
                    <div class="margin_bottom card__image-container">
                        <img class="small_circle border_light" src="/images/main/Joe.jpg">
                    </div>
                    <svg class="card__svg" viewBox="0 0 800 600">
                        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#fff"/>
                        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                    </svg>
                    <div class="card__content">
                        <p class="editContent light_gray normal_text">The services provided by this company are unparalleled. We received over 100 designs for a very competitive price. The designer are top tier and know how to turn your ideas into a reality.</p>                 
                        <div class="testimonial-info-1">- Joe Padbury</div>
                        <div class="testimonial-info-2">CEO</div>
                    </div>
                </div>
            </div>
            <div class="one-third column">
                <div class="content_div card">
                    <div class="margin_bottom card__image-container">
                        <img class="small_circle border_light" src="/images/main/Titus.jpg">
                    </div>
                    <svg class="card__svg" viewBox="0 0 800 600">
                        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#fff"/>
                        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                    </svg>
                    <div class="card__content">
                        <p class="editContent light_gray normal_text">The quality and response speed of a Eterant services is truly remarkable. We will definitely be using you guys again!</p>                 
                        <div class="testimonial-info-1">- Titus Smith</div>
                        <div class="testimonial-info-2">CTO</div>
                    </div>
                </div>
            </div>
            <div class="one-third column omega">
                <div class="content_div card">
                    <div class="margin_bottom card__image-container">
                        <img class="small_circle border_light" src="/images/main/Martin.png" alt="Martin Karasek" title="Martin Karasek">
                    </div>
                    <svg class="card__svg" viewBox="0 0 800 600">
                        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="transparent" fill="#fff"/>
                        <path class="card__line" d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink" stroke-width="3" fill="transparent"/>
                    </svg>
                    <div class="card__content">
                        <p class="editContent light_gray normal_text">Thanks to Eterant, I was able to become freelancer [with] 3-4 work enquiries every week. I have never been happier in my career life. With Eterant I not only get a lot of work, but also a huge motivation to showcase my work.</p>                 
                        <div class="testimonial-info-1">- Martin Karasek</div>
                        <div class="testimonial-info-2">Freelancer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100" id="section_clients_1_dark">  
        <div class="black_bg padding_bottom_0">
            <div class="container">
                <div class="right_text">
                    <div class="display-inline">
                        <div class="big_title editContent mt-50m white">
                            <strong>Take a Quick Look</strong>
                        </div>
                        <!-- <div class="separator"></div> -->
                        <span class="pix_text normal_gray">
                            <span class="normal_text editContent">
                                The Best Companies Which Trust Our Digital Goods
                            </span>
                        </span>
                    </div>
                    <img class="take-look" alt="" src="/images/main/partner.png" />
                </div>
                <div class="owl-carousel clients">
                    <div class="client">
                        <img src="images/main/logos/theguardian.png" class="margin_vertical" alt="">
                    </div>
                    <div class="client">
                        <img src="images/main/logos/taskrabbit.png" class="margin_vertical" alt="">
                    </div>
                    <div class="client">
                        <img src="images/main/logos/popsugar.png" class="margin_vertical" alt="">
                    </div>
                    <div class="client">
                        <img src="images/main/logos/bigcommerce.png" class="margin_vertical" alt="">
                    </div>
                    <div class="client">
                        <img src="images/main/logos/foursquare.png" class="margin_vertical" alt="">
                    </div>
                    <div class="client">
                        <img src="images/main/logos/squarespace.png" class="margin_vertical" alt="">
                    </div>
                </div>
                <!-- <div class="big_padding pix_inline_block center_text">
                    <div class="sixteen columns ">
                        <div class="one-third column alpha">
                            <img src="images/main/logos/theguardian.png" class="margin_vertical" alt="">
                        </div>
                        <div class="one-third column">
                            
                        </div>
                        <div class="one-third column omega">
                            
                        </div>
                       
                    </div>
                    <div class="sixteen columns">
                        <div class="one-third column alpha">
                            
                        </div>
                        <div class="one-third column">
                            
                        </div>
                        <div class="one-third column omega">
                            
                        </div>
                       
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="big_padding black_bg pix_builder_bg products_moving_bg  clearfix"></div>

    <div class="pix_builder_bg pixfort_hotel_5 clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300" id="section_normal_5_1">
        <div class="Homes">
            <div class="container">
                <div class="sixteen columns">
                    <div class="title_56 title mb-20 bold-weight">Our Products</div>
                    <div class="separator"></div>
                    <p class="subtitle_homes">
                        Our team of experts focus on client and customer satisfaction as the ultimate goal for our projects.
                        This is one of the many reasons why our work is globally acclaimed and recognized. 
                    </p>

                    <div class="filters text-center pix_nav_1">
                        <ul class="nav">
                            <li class="active"><a href="#" data-filter="*">All</a></li>
                            <li><a href="#" data-filter=".business">Business</a></li>
                            <li><a href="#" data-filter=".custom">Custom</a></li>
                            <li><a href="#" data-filter=".personal">Personal</a></li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
            <div class="isotope-container grid-space-0 clearfix object-non-visible mt-30" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
                <div class="col-sm-6 col-md-4 isotope-item custom">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/home-(sa)-5nd-rev-t.png" alt="">
                            <a href="/images/main/home-(sa)-5nd-rev-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Development</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 isotope-item business">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/intellectsoft.jpg" alt="">
                            <a href="/images/main/intellectsoft.jpg" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Design</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-4 popup-img isotope-item custom">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/gadget-converters-ma-t.png" alt="">
                            <a href="/images/main/gadget-converters-ma-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Site Building</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 popup-img isotope-item business">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/azaria-maskry-r1-t.png" alt="">
                            <a href="/images/main/azaria-maskry-r1-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Site Building</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 popup-img isotope-item personal">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/home-(sa)-(3)-t.png" alt="">
                            <a href="/images/main/home-(sa)-(3)-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>App Development</span>
                            </a>
                        </div>
                    </div>
                </div> -->
                
                <div class="col-sm-6 col-md-4 isotope-item business">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/image-intro.jpg" alt="">
                            <a href="/images/main/image-intro.jpg" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Design</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 isotope-item  personal">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/anuli-home-ma-t.png" alt="">
                            <a href="/images/main/anuli-home-ma-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Development</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 isotope-item personal">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/ms-crisys-project-t.png" alt="">
                            <a href="/images/main/ms-crisys-project-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Design</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 isotope-item custom">
                    <div class="image-box">
                        <div class="overlay-container">
                            <img src="/images/main/nk-amber-lynn-jonesextra-t.png" alt="">
                            <a href="/images/main/nk-amber-lynn-jonesextra-t.png" class="popup-img overlay">
                                <i class="fa fa-plus"></i>
                                <span>Web Development</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="big_padding pix_builder_bg custom_moving_bg">
    </div>

     <div id="popup_1" class="well pix_popup pop_style_1 pix_builder_bg pop_hidden max_400" pix-overlay="rgba(0,0,0,0.5)">
        <div class="center_text">
            <div class="big_icon light_blue">
                <span class="pi pixicon-paperplane"></span>
            </div>
            <span class="editContent"><h4 class="margin_bottom pix_text"><strong>Subscription Form</strong></h4></span>
            <p class="editContent">You can add unlimited fields directly from HTML</p>
            <form id="contact_form" class="pix_form ">
                <div id="result"></div>
                <input type="text" name="name" id="name" placeholder="Your Full Name" class="pix_text"> 
                <input type="email" name="email" id="email" placeholder="Your Email" class="pix_text">
                <input type="text" name="number" id="number" placeholder="Your Phone Number" class="pix_text">
                <span class="send_btn">
                    <button type="submit" class="submit_btn pix_text" id="submit_btn_6">Send Information</button>
                </span>
                <span class="pix_text"><span class="pix_note editContent">*Some dummy text goes here.</span></span>
            </form>
        </div>
    </div>


    <!-- <div class="dark soft_dark_gray_bg" id="section_social_1_dark">
        <div class="footer3">
            <div class="container ">
                <div class="sixteen columns ">
                    <div class="three columns alpha margin_vertical">
                        <div class="center_text title_56">
                            <a class="pi pixicon-facebook2 facebook_bg social_1" href="#fakelink"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="three columns margin_vertical">
                        <div class="center_text title_56">
                            <a class="pi pixicon-twitter2 twitter_bg social_1" href="#fakelink"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="three columns margin_vertical">
                        <div class="center_text title_56">
                            <a class="pi pixicon-googleplus2 google_plus_bg social_1" href="#fakelink"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <div class="three columns margin_vertical">
                        <div class="center_text title_56">
                            <a class="pi pixicon-googleplus2 skype-bg social_1" href="#fakelink"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                    <div class="three columns omega margin_vertical">
                        <div class="center_text title_56">
                            <a class="pi pixicon-dribbble2 dribbble_bg social_1" href="#fakelink"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

 
