.fixed {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fixed ul li a {
    color: #918e8e;
}

.fixed-header-on .fixed {
    background: #fff;
    color: rgb(51, 51, 51);
}

.nav > li {
    margin-bottom: 0;
}

.pix_nav_logo {
    margin-left: 8px;
}

@media (max-width: 375px) {
    .header.fixed {
        /* background: rgb(242, 108, 49) */
        background: white;
    }
    .fixed ul li a {
        color: #444242;
    }
}

.python-bg {
    color: white;
    background: #15aabf;
}

.react-bg {
    color: white;
    background: rgb(0, 216, 255);
}

.sketch-bg {
    color: white;
    background: #ffae01;
}

.cloud-bg {
    color: white;
    background: #0072ff;
}

.angular-bg {
    color: white;
    background: #dd1b16;
}

.vue-bg {
    color: white;
    background: #15aabf;
}

.box-style-3:hover .python-bg {
    background-color: #fff;
    border: 1px solid #15aabf;
    color: #15aabf;
}

.box-style-3:hover .react-bg {
    background-color: #fff;
    border: 1px solid rgb(0, 216, 255);
    color: rgb(0, 216, 255);
}

.box-style-3:hover .sketch-bg {
    background-color: #fff;
    border: 1px solid #ffae01;
    color: #ffae01;
}

.box-style-3:hover .cloud-bg {
    background-color: #fff;
    border: 1px solid #0072ff;
    color: #0072ff;
}

.box-style-3:hover .angular-bg {
    background-color: #fff;
    border: 1px solid #dd1b16;
    color: #dd1b16;
}

.box-style-3:hover .vue-bg {
    background-color: #fff;
    border: 1px solid #15aabf;
    color: #15aabf;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo span {
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}


/* Miscellaneous
---------------------------------- */
.pl-5 {
	padding-left: 5px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-5 {
	padding-right: 5px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-20 {
	padding-right: 20px;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-15 {
    margin-right: 15px !important;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50m {
    margin-top: -50px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}

.mb-50m {
    margin-bottom: -50px;
}

.space {
	padding-top: 20px;
	padding-bottom: 20px;
}
.space-top {
	padding-top: 20px;
}
.space-bottom {
	padding-bottom: 20px;
}
.margin-clear {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.padding-top-clear {
	padding-top: 0 !important;
}
.padding-bottom-clear {
	padding-bottom: 0 !important;
}
.padding-clear {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.border-clear {
	border: none !important;
}
.circle {
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	border-radius: 100%;
}
.separator {
	display: block;
	width: 60px;
	height: 5px;
	margin: 15px auto 15px;
	background-color: #cccccc;
	position: relative;
	border: 1px solid #cccccc;
}
.separator:after {
	width: 30px;
	height: 5px;
	background: #ffa739;
	position: absolute;
	top: -1px;
	left: -1px;
	content: "";
}
.separator-2 {
	display: block;
	width: 30px;
	height: 5px;
	margin: 15px 0 15px;
	background-color: #cccccc;
	position: relative;
}
.separator-2.right {
	margin-left: auto;
}
.sidebar .separator {
	width: 30px;
	height: 5px;
	margin: 15px 0 20px;
	background-color: #666;
	border-color: #666;
}
.sidebar .separator:after {
	content: "";
	background-color: transparent;
}
.dark-bg .separator-2 {
	background-color: #999999;
}
.default-bg .separator-2 {
	background-color: #ebebeb;
}

.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}
.vertical-divider-left,
.vertical-divider-left-lg {
	border-left: 1px solid #eeeeee;
	padding-left: 50px;
	margin-left: 20px;
}
.vertical-divider-right,
.vertical-divider-right-lg {
	border-right: 1px solid #eeeeee;
	padding-right: 50px;
	margin-right: 20px;
}
.grid span {
	padding: 15px 5px;
	background-color: #fafafa;
	border: 1px solid #f3f3f3;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.dark-bg {
	background-color: #000000;
	color: #ffffff;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3,
.dark-bg h4,
.dark-bg h5,
.dark-bg h6 {
	color: #ffffff;
}
.dark-bg a:not(.btn) {
	color: #fff;
	text-decoration: underline;
}
.dark-bg a:not(.btn):hover {
	color: #fff;
	text-decoration: none;
}
.default-bg {
	background-color: #e84c3d;
	color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6 {
	color: #ffffff;
}
.default-bg a:not(.btn) {
	color: #ffffff;
	text-decoration: underline;
}
.default-bg a:not(.btn):hover {
	color: #ffffff;
	text-decoration: none;
}
.default-bg.text-muted,
.default-bg.text-muted h1,
.default-bg.text-muted h2,
.default-bg.text-muted h3,
.default-bg.text-muted h4,
.default-bg.text-muted h5,
.default-bg.text-muted h6 {
	color: #f1f1f1;
}
.dark-bg.text-muted,
.dark-bg.text-muted h1,
.dark-bg.text-muted h2,
.dark-bg.text-muted h3,
.dark-bg.text-muted h4,
.dark-bg.text-muted h5,
.dark-bg.text-muted h6,
.gray-bg.text-muted,
.gray-bg.text-muted h1,
.gray-bg.text-muted h2,
.gray-bg.text-muted h3,
.gray-bg.text-muted h4,
.gray-bg.text-muted h5,
.gray-bg.text-muted h6 {
	color: #999999;
}

.testimonial h2 {
	margin-bottom: 25px;
}
.testimonial-image {
	max-width: 160px;
	float: left;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.testimonial-body {
	padding: 15px;
}
.testimonial-image + .testimonial-body {
	margin-left: 180px;
}
.testimonial-info-1 {
	font-size: 13px;
	color: #000;
	font-style: italic;
}
.testimonial-info-2 {
	font-size: 13px;
	color: #000;
	font-weight: 700;
}

.skype-bg {
    background-color: #00aff0;
}

.single-service-wrap {
    position: relative;
}

.home-service-list-wrap .home-service-list {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    padding: 40px 0px 80px calc((100vw - 1140px) / 2);
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 80px;
    /* padding-left: calc((100vw - 1140px) / 2); */
    padding-left: 0;
}

.home-service-list-wrap .home-service-list .single-service-wrap:nth-child(2n) {
    top: 30px;
}

.home-service-list-wrap .home-service-list .single-service-wrap .service-single {
    height: 100%;
    min-width: 254px;
    position: relative;
    margin: 0px 38px;
    padding: 20px 10px 22px;
    border-radius: 6px;
}

.home-service-list-wrap .home-service-list .single-service-wrap .service-single:hover {
    cursor: pointer;
}

@media (max-height: 850px) and (max-width: 1441px) and (min-width: 1200px) {
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single {
        margin: 0px 39px;
        padding: 18px 8px 10px;
    }
}

@media (max-width: 767px) {
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single {
        margin: 0px 35px;
        padding: 20px 18px;
    }
}

@media (max-width: 479px) {
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single {
        min-width: 280px;
        margin: 0px 32px;
        padding: 17px;
    }
}

.hhEtMd.very-light-pink-two {
    border-color: rgb(220, 220, 220);
}

@media (max-width: 767px)
{
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single {
        margin: 0px 15px;
        padding: 20px 18px;
    }
}

@media (max-width: 479px)
{
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single {
        min-width: 280px;
        margin: 0px 12px;
        padding: 17px;
    }
}

.hhEtMd {
    max-width: 354px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    opacity: 0.9;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 18px 0px, rgba(0, 0, 0, 0.1) 0px 3px 5px -1px;
    padding: 21px 24px 23px;
    transition: all 800ms cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

@media (max-height: 850px) and (max-width: 1441px) and (min-width: 1200px)
    {
        .hhEtMd {
        max-width: 310px;
        padding: 18px 21px 20px;
    }
}

.hhEtMd.off-white {
    border-color: rgb(231, 228, 187);
}

.hhEtMd.off-white:hover {
    background-color: rgb(255, 253, 230);
}

@media (max-width: 1024px)
{
    .hhEtMd:hover {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 18px 0px, rgba(0, 0, 0, 0.1) 0px 3px 5px -1px;
        transform: initial;
    }
}

.hhEtMd:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 15px -3px, rgba(0, 0, 0, 0.04) 0px 9px 30px 3px, rgba(0, 0, 0, 0.04) 0px 20px 30px 3px;
    transform: translateY(-5px);
}

.hhEtMd.off-white {
    border-color: rgb(231, 228, 187);
}

.hhEtMd.sky-blue:hover {
    background-color: rgb(221, 240, 255);
}

@media (max-width: 1024px)
{    
    .hhEtMd:hover {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 18px 0px, rgba(0, 0, 0, 0.1) 0px 3px 5px -1px;
        transform: initial;
    }
}

.hhEtMd:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 15px -3px, rgba(0, 0, 0, 0.04) 0px 9px 30px 3px, rgba(0, 0, 0, 0.04) 0px 20px 30px 3px;
    transform: translateY(-5px);
}

.hhEtMd.sky-blue {
    border-color: rgb(184, 223, 253);
}

.hhEtMd .service-content-blk {
    flex: 1 1 0%;
}

.hhEtMd .service-content-blk h4 {
    font-size: 18px;
    /* font-family: Graphik; */
    margin-bottom: 7px;
    line-height: 24px;
    transition: all 800ms cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    font-weight: bold;
}

.hhEtMd.pale {
    border-color: rgb(234, 216, 178);
}

.hhEtMd.pale:hover {
    background-color: rgb(255, 244, 220);
}

.hhEtMd.very-light-pink-two:hover {
    background-color: rgb(241, 241, 241);
}

.hhEtMd.very-light-pink-two {
    border-color: rgb(220, 220, 220);
}

.hhEtMd.ice:hover {
    background-color: rgb(229, 255, 233);
}

.hhEtMd.ice {
    border-color: rgb(182, 231, 189);
}

.hhEtMd.very-light-pink-three {
    border-color: rgb(243, 204, 204);
}

.hhEtMd.very-light-pink-three:hover {
    background-color: rgb(255, 239, 239);
}

.hhEtMd .service-content-blk p {
    font-size: 15px;
    line-height: 23px;
    margin: 0px;
    transition: all 800ms cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

@media (max-width: 479px)
   { 
       .home-service-list-wrap .home-service-list .single-service-wrap .service-single .service-img-blk {
            position: absolute;
            top: 17px;
            left: 17px;
            margin: 0px;
        }
}

@media (max-width: 767px)
{
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single .service-img-blk {
        margin-right: 16px;
    }
}

.home-service-list-wrap .home-service-list .single-service-wrap .service-single .service-img-blk {
    margin-right: 18px;
}

@media (max-width: 479px)
{
    .hhEtMd .service-img-blk {
        margin-bottom: 15px;
    }
}
.hhEtMd .service-img-blk {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 50%;
    transition: all 800ms cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

.hhEtMd.very-light-pink:hover {
    background-color: rgb(255, 244, 237);
}

.hhEtMd:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 11px 15px -3px, rgba(0, 0, 0, 0.04) 0px 9px 30px 3px, rgba(0, 0, 0, 0.04) 0px 20px 30px 3px;
    transform: translateY(-5px);
}

.hhEtMd.very-light-pink {
    border-color: rgb(252, 217, 195);
}

.hhEtMd:hover .service-content-blk h4 {
    transform: translateY(-7px);
}

@media (max-width: 479px)
{    
    .home-service-list-wrap .home-service-list .single-service-wrap .service-single .service-content-blk h4 {
        min-height: 50px;
        padding-left: 62px;
    }
}

.service-item {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    background: white;
    padding: 20px;
    border-radius: 6px;
}



.service-item p {
    font-size: 15px;
}

.box-style-3 {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-style-3 i {
	font-size: 22px;
	line-height: 45px;
}
.box-style-3 .icon-container {
	float: left;
	width: 45px;
	height: 45px;
	text-align: center;
	border: 1px solid transparent;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.box-style-3 .body {
	margin-left: 80px;
}
.box-style-3 h2, .service-item h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
	margin-top: 0;
}
.box-style-3:hover .icon-container {
	border: 1px solid #666;
}
.box-style-3:hover .default-bg {
	background-color: #fff;
	border: 1px solid #e84c3d;
}
.box-style-3:hover .default-bg * {
	color: #e84c3d;
}
.box-style-3:hover .dark-bg {
	background-color: #fff;
	border: 1px solid #666;
}
.box-style-3:hover .dark-bg * {
	color: #666;
}
.box-style-3:hover .white-bg * {
	color: #e84c3d;
}
.panel-body i {
	width: 35px;
	text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.box-style-3.right .icon-container {
		float: right;
	}
	.box-style-3.right .body {
		margin-right: 80px;
		text-align: right;
		margin-left: 0;
	}
}

.marker {
    background-image: url('../images/main/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  

.container-custom {
    width: 1140px;
}

.column.alpha, .columns.alpha {
    margin-left: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 0;
}

.column.alpha:hover, .columns.alpha:hover {
    transform: scale(1.02);
    transition: transform .3s;
}

.img_homes_st img {
    height: 100%;
}



/* Portfolio
---------------------------------- */
.filters {
	margin: 0 0 30px 0;
}
.filters .nav > li.active a {
    color: #ffa739;
    font-weight: bold;
}

.filters .nav > li.active a {
    font-weight: 700;
}

ul > li a:focus, ul > li a:hover {
    background:none;
    color: #ffa739;
}

.filters .nav > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav > li + li {
	margin-left: 0px;
}
.text-center.filters .nav > li {
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: inline-block;
	float: none;
}
.list-item {
	margin-bottom: 40px;
}
.list-item h3.title {
	margin-top: 0;
}


/* Images and Images overlay
---------------------------------- */
.fixed-image {
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
}
.no-touch .fixed-image {
	background-attachment: fixed;
}
.fixed-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}

.overlay-container img {
    transition: 300ms all ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-container:hover img {
    -moz-transform: scale(1) translateY(-30px);
    -webkit-transform: scale(1) translateY(-15px);
    -o-transform: scale(1) translateY(-15px);
    -ms-transform: scale(1) translateY(-15px);
    transform: scale(1) translateY(-50px);
    filter: blur(2px);
    opacity: .5;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(241, 241, 241, 0.85);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay a {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 26px;
	color: #e84c3d;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #000000;
	font-style: italic;
}
.overlay-links {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -50px;
	font-size: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: all 0.25s linear 0.05s;
	-moz-transition: all 0.25s linear 0.05s;
	-ms-transition: all 0.25s linear 0.05s;
	-o-transition: all 0.25s linear 0.05s;
	transition: all 0.25s linear 0.05s;
}
.overlay-links a {
	position: static;
	margin-top: 0;
	margin-left: 0;
}
.overlay-links a + a {
	left: 50px;
	color: #ffffff;
	background-color: #e84c3d;
}
.overlay a:hover {
	color: #ffffff;
	background-color: #333333;
	text-decoration: none;
}
.overlay i {
	line-height: 50px;
}
.box-style-1 .overlay i {
	font-size: 26px;
	margin: 0;
}
a.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
a.overlay:hover {
	text-decoration: none;
}
.listing-item a.overlay {
	-webkit-transition: linear 0.25s;
	-o-transition: linear 0.25s;
	transition: linear 0.25s;
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.listing-item a.overlay:hover {
	text-decoration: none;
}
a.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40px;
	line-height: 42px;
	color: #f77825;
	margin-top: -22px;
	margin-left: -18px;
	text-align: center;
}
a.overlay.small i {
	font-size: 18px;
	line-height: 1;
	margin-top: -8px;
	margin-left: -8px;
}
.overlay .social-links {
	margin: 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.overlay .social-links li {
	margin: 0 auto;
}
.overlay .social-links li a {
	margin: 2px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	position: static;
}
.overlay .social-links li a:hover {
	background-color: #fff;
	border-color: #fff;
	text-decoration: none;
}
.overlay .social-links li a i {
	line-height: 38px;
	font-size: 24px;
	margin: 0;
}
.overlay-container:hover .overlay,
.overlay-container:hover .overlay-links {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Image Boxes
---------------------------------- */
.image-box {
	background-color: #fafafa;
    /* border: 1px solid #f3f3f3; */
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.grid-space-0 .image-box {
	border: none;
}
.image-box h3.title {
	margin-top: 0;
}
.image-box .btn {
	white-space: normal;
	border-color: transparent;
}
.image-box .btn-block {
	margin: 0;
}
.image-box-body {
	padding: 20px 15px 15px;
}

img {
    display: block;
	max-width: 100%;
	height: auto;
}

.isotope-item {
	margin-bottom: 30px;	
}
.grid-space-20 .isotope-item {
	margin-bottom: 20px;
}
.grid-space-10 .isotope-item {
	margin-bottom: 0;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.isotope-item {
		max-width: 100%;
	}
}

.pixfort_normal_1 .subtitle_style {
    padding: 50px 0;
}

.parallax-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.navbar {
    border-radius: 0;
    -webkit-box-shadow: 0 5px 17px 0 rgba(0,0,0,.05);
    box-shadow: 0 5px 17px 0 rgba(0,0,0,.05);
    -webkit-transition: all .9s;
    transition: all .9s;
    opacity: 0.9;
}

.box-style-3 h2 {
    color: #dbd8d8;
    font-weight: 600;
}

.box-style-3 p {
    color: #aaa3a3;
    font-size: 15px;
}

.footer-background-img {
    /* background: url('https://agileengine.com/wordpress/wp-content/uploads/redesign-img/map-bg.jpg'); */
    background: url('/images/main/map-bg.jpg')
}

.pixfort_text_4 p, .pixfort_text_3 p, .pixfort_text_2 p, .pixfort_text_2_1 p, .pixfort_medical_3 p {
    display: block;
}

.bold-weight {
    font-weight: bold;
}

.industrial_icons {
    display: flex;
}

.industrial_icons img {
    width: 35px;
    height: auto;
    margin-right: 1rem;
}

.industrial_icons i {
    font-size: 2em;
    margin-right: 2rem;
}

.window-icon {
    color: #15aabf;
}

.apple-icon {
    color: white;
}

.android-icon {
    color:#fd7e14;
}

.contact-us-wrapper {
    display: flex;
    margin-top: 20px;
}

.contact-us-wrapper img {
    width: 103px;
    height: audo;
}

.margin-left-20p {
    margin-left: 15%;
}

.link-contact-us {
    background: #eb1c23;
    color: white;
    padding: .5em 1.8em;
    margin-right: 1.5rem;
    background: -moz-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: -webkit-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
}

@media (max-width: 375px) {
    .contact-us-wrapper {
        flex-direction: column;
    }
    .link-contact-us {
        margin-bottom: 0.75rem;
        max-width: 200px;
    }
    .margin-left-20p {
        margin-left: 0;
    }
    .mt-30 {
        margin-top: 0;
    }
    .pixfort_hotel_5 .subtitle_homes {
        max-width: 100%;
        margin-left: 0;
    }
}

.get-started {
    background: #eb1c23;
    color: white;
    padding: 1em 3.8em;
    font-size: 1.2rem;
    top: 100%;
    left: 50%;
    transform: translate(-150%, -50%);
    position: absolute;
    z-index: 10;
    background: -moz-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: -webkit-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
}

@media (max-width: 767px) {
    .get-started {
        transform: translate(-100%, -50%);
    }
}

@media (max-width: 375px) {
    .get-started {
        transform: translate(-50%, -50%);
    }
}

.creative_video_header {
    position: relative;
}

a.pi:hover {
    color: white;
    opacity: 0.9;
}


/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #000000;
	z-index: 1005;
    display: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px #262626;
    box-shadow: 0px 0px 3px 1px #262626
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.scrollToTop {
		width: 40px;
		height: 40px;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.scrollToTop i {
		line-height: 40px;
		font-size: 20px;
	}
}

#section_features_2_dark {
    background-image: url('/images/main/man_right_trophy.png');
    background-size:cover !important;
}

#section_features_2_dark .container {
    margin-left: 0;
}

#section_normal_4_1:after {
    content: "";
    display: block;
    height: 124px;
    background-image: url(/images/main/bottom_wave.jpg);
    background-position: 0 100%;
    background-size: 100% 124px;
    background-color: #000;
}

.bottom-wave-bg {
    display: block;
    height: 144px;
    background-image: url(/images/main/bottom_wave_white.png);
    background-position: 0 100%;
    background-size: 100% 144px;
    background-color: #fff;
}


#section_clients_1_dark:before {
    content: "";
    display: block;
    height: 114px;
    background-image: url(/images/main/top_wave.jpg);
    background-position: 0 100%;
    background-size: 100% 114px;
}

@media (max-width:767px) {
    #section_clients_1_dark .mt-50m {
        margin-top: 0;
    }
}

/* #section_normal_5_1:after {
    content: "";
    display: block;
    height: 104px;
    background-image: url(/images/main/bottom_wave_white.png);
    background-position: 0 100%;
    background-size: 100% 104px;
    background-color: #000;
} */

/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  /* Testimonial cards */
  .card {
    position: relative;
    /* background: #333; */
    /* width: 400px; */
    /* height: 65vh; */
    border-radius: 6px;
    padding: 2rem 1.5rem;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card:after {
	border-bottom: 3px #e39725 solid;
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.card__image-container {
    margin: -1rem -1.5rem 1rem -2rem;
    display: flex;
    justify-content: end;
}
.object-visible .card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}
.object-visible .card__image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1.4s forwards;
}
.card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
}
.card__content {
    margin-top: 50px;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
}
/* 
@media (max-width: 1024px) {
    .card {
        height: 65vh;
    }
}

@media (max-width: 850px) {
    .card {
        height: 73vh;
    }
} */

@media (max-width:767px) {
    .card__content {
        margin-top: 100px;
    }
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width:375px) {
    .card__content {
        margin-top: 50px;
    }
    .card {
        margin-bottom: 20px;
        /* height: 55vh; */
    }
}

.card__svg {
    position: absolute;
    left: 0;
    top: 0;
    /* margin-top: -50px; */
}
@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
        stroke: #fff;
   }
    50% {
        opacity: 1;
        d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
        stroke: #888bff;
   }
    100% {
        opacity: 1;
        d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
        stroke: #545581;
   }
}
@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
   }
    100% {
        transform: translateY(0);
        opacity: 1;
   }
}
@keyframes ImageFadeIn {
    0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
   }
    50% {
        opacity: 1;
        filter: blur(2px);
   }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
   }
}

/* floating on the right */
.floating_wrap {
    position: relative;
}

.floating_wrap .btns_wrap {
    position: absolute;
    right: 0;
}

.floating_wrap .btns_wrap .call_wrap {
    width: 270px;
    position: fixed;
    right: -205px;
    background: #fff;
    top: 22%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    z-index: 15;
    box-shadow: 0px 0px 40px #00000026 !important;
    transition: right 400ms ease-in;
    transform-origin: right;
    will-change: transform;
    animation-duration: 400ms;
    animation-timing-function: step-end;
}

.floating_wrap .btns_wrap .mail_wrap {
    width: 270px;
    position: fixed;
    right: -205px;
    background: #fff;
    top: 13%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    z-index: 15;
    box-shadow: 0px 0px 40px #00000026 !important;
    transition: right 400ms ease-in;
    transform-origin: right;
    will-change: transform;
    animation-duration: 400ms;
    animation-timing-function: step-end;
}

.floating_wrap .btns_wrap a:hover {
    text-decoration: none !important;
    right: 0px;
}

.floating_wrap .btns_wrap i {
    color: #fff;
    background: #eb1c23;
    font-size: 26px;
    padding: 15px 23px;
    border-right: 1px solid #ded9d9;
    vertical-align: middle;
    background: #eb1c23;
    background: -moz-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: -webkit-linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    background: linear-gradient(right, #eb1c23 0%, #F00000 50%,#DC281E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8285a', endColorstr='#90298b',GradientType=1 );
}

.floating_wrap .btns_wrap span {
    color: #eb1c23;
    font-size: 20px;
    vertical-align: middle;
    background: #fff;
    padding: 15px 20px 15px 15px;
}

/* Moving cloud text */
.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url('/images/main/clouds.jpg');
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
    /* margin: 10%; */
    padding: 20px 0;
	font-size: 134px;
	animation: clouds-moving infinite 120s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

.pixfort_normal_1 .title_style {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.29;
    font-family: Roboto;
}

div.title_56 {
    font-family: 'Circular Std';
}

@media (max-width: 375px) {
    .pixfort_normal_1 .title_style {
        font-size: 32px;
    }

    .normal_text {
        font-size: 13px;
    }

    .normal_title {
        font-size: 24px;
        line-height: 32px;
    }

    .big_text {
        font-size: 18px;
        line-height: 28px;
    }

    .title_56 {
        font-size: 24px;
        line-height: 32px;
    }

    .big_padding {
        padding: 30px 0;
    }

    #section_features_2_dark {
        background-size: contain !important;
        background-repeat: no-repeat;
    }
}

img.take-look {
    display: inline-block;
    width: 35px;
    margin-left: 6px;
}

/* what we provide detail section */
.experience-section {
    /* min-height: 130px; */
    padding: 30px 0;
}

.experience-section .container {
    margin: 0 auto !important;
    font-family: 'tradegothicregular', sans-serif;
    color:white;
}

.experience-section .experience-items {
    display: flex;
    justify-content: space-around;
}

.experience-items .experience-item {
    text-align: center;
    margin-right: 10px;
    /* padding: 10px; */
}

.experience-item div {
    margin-top: 0.25rem;
}
